#####################################################################
#                                                                   #
# Script:  .prettierignore                                          #
#                                                                   #
# Purpose: A list of files and dirs to be ignored by prettier.      #
#                                                                   #
# Date:    27th November 2025                                       #
#                                                                   #
# Author:  Nova admin <admin@nova.eco>                              #
#                                                                   #
#####################################################################

#
# Standard files to be ignored
#
CHANGELOG.md
LICENSE.txt

#
# Hidden dirs to be ignored
#
.git/
.github/
.husky/

#
# Standard dirs to be ignored
#
backups/
node_modules/
var/
